.app {
  text-align: center;
  margin: 2%;
}

h1, h2, h3, h4, h5, h6 {
  display: block;
}

span.jensen, span.george{
  font-size: 80%;
}

span.jensen {
  background-color: pink;
}

span.george {
  background-color: yellow;
}

div {
  margin: 2%;
}

.jensen, .george {
  width: 40%;
  /* height: 500px; */
}

.jensen {
  float: left;
}

.george {
  float: right;
}



#question, #reply {
  overflow: auto;
}

a {
  text-decoration: none;
  padding: 2%;
}