.Dropdown-root {
    border: red 2px solid;
    border-radius: 10px;
    font-size: 1.5vw;
    background-color: pink;
}

.Dropdown-placeholder {
    margin: 2%;
    padding: 2%;
    font-size: 120%;
    font-weight: bold;
}

.Dropdown-placeholder:hover {
    cursor: pointer;
}

.Dropdown-arrow {
    float: right;
    border: 1vh solid;
}

/* .arrow-closed {

}

.arrow-open {
    
} */

.Dropdown-option {
    font-size: 1vw;
    text-align: center;
}

.Dropdown-option:hover {
    font-size: 1.05vw;
    cursor: pointer;
}